@model Demo.Models.RegisterVm
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
</head>
<body>
    @using (Html.BeginForm("Save", "Home", FormMethod.Post, new { id = "frm" }))
    {
    <table>
        
        <tr>
            <td>Name</td>
            <td>@Html.TextBoxFor(x => x.register.name)</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Html.TextBoxFor(x => x.register.email)</td>
        </tr>
        <tr>
            <td>phone</td>
            <td>@Html.TextBoxFor(x => x.register.phone)</td>
        </tr>
        <tr>
            <td>@Html.HiddenFor(x => x.register.id)</td>
            <td>                
                <input type="submit" id="btnRegister" value="@( Model.register == null ? "Register" : "Save" )" />
                @if (Model.register != null)
                {
                    <input type="button" id="btnNew" value="New" onclick="OnNew()" />
                }
            </td>
        </tr>
    </table>
        <br />
        if (Model.data != null && Model.data.Count > 0)
        {
            <table border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>#Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.data.Count; i++)
                    {
                    <tr>
                        <td>
                            @Model.data[i].id
                            @Html.HiddenFor(x => x.data[i].id)
                        </td>
                        <td>
                            @Model.data[i].name
                            @Html.HiddenFor(x => x.data[i].name)
                        </td>
                        <td>
                            @Model.data[i].email
                            @Html.HiddenFor(x => x.data[i].email)
                        </td>
                        <td>
                            @Model.data[i].phone
                            @Html.HiddenFor(x => x.data[i].phone)
                        </td>
                        <td>
                            <button type="button" onclick="OnEdit('@Model.data[i].id')">Edit</button>
                            <button type="button" onclick="OnDelete('@Model.data[i].id')">Delete</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        @Html.HiddenFor(x => x.selectedIndex)
    }

    <script type="text/javascript">
        function OnEdit(idx) {
            console.log(idx);
            $('#selectedIndex').val(idx);
            $('#frm').attr('action', '@Url.Content("~/Home/Edit")');
            $('#frm').submit();
        }
        function OnDelete(idx) {
            console.log(idx);
            $('#selectedIndex').val(idx);
            $('#frm').attr('action', '@Url.Content("~/Home/Delete")');
            $('#frm').submit();
        }
        function OnNew() {
            $('#frm').attr('action', '@Url.Content("~/Home/New")');
            $('#frm').submit();
        }
    </script>
</body>
</html>
